body {
    background: #6257adef;
    height: 250vh;
    margin: 0px;
}
.ree {
            position: relative;
            background: #6257adef;
            height: auto;
            background-repeat: repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            color: #fff;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            margin: 10px;
            border-radius: 20px;
            border: translucent;
}
.navbar {
     background: #ff2b5fde;
     padding: 10px;
}
.navbar ul {
     display: flex;
     justify-content: space-between;
}
.navbar li{
     list-style-type: none;
     justify-content: space-around;
}
.navbar a{
     text-decoration: none;
}
.navbar first li{
     margin-left: 2px;
}
div video {
    width: 95%;
    text-align: center;
    justify-content: center;
    margin: 2px;
}
